.note-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  text-align: center;
}
.trash-container {
  text-align: center;
}
.archiv-container {
  text-align: center;
}
