.btn-save {
  margin-top: 18px;
  background-color: rgb(239, 236, 236);
  border: 3px solid rgb(14, 14, 14);
  color: black;
}
.btn {
  color: black;
  height: 32px;
  width: 32px;
  background-color: rgb(239, 236, 236);
  border: 3px solid rgb(14, 14, 14);
}
.btn:hover {
  cursor: pointer;
  border: 3px solid rgb(90, 90, 91);
}
